.root {
    -fx-font-size: 12px;
}

.button {
    -fx-min-width: 60px;
    -fx-min-height: 25px;
    -fx-background-color: #a0ffff;
    -fx-background-position: right 10px top 10px;
    -fx-background-radius: 7px;
    -fx-background-insets: 2px;
}

GridPane {
    -fx-hgap: 20px;
    -fx-vgap: 5px;
}

Label {
    -fx-padding: 7px;
}

.login {
    -fx-font-size: 18px;
    -fx-font-weight: 800;
}

.switch {
    -fx-background-color: gold;
}